@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


  
*,*::before,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
   
  
}
:root{
    --background:rgb(253, 253, 253);
    --primary-color:rgb(0, 138, 138);
    --secondary-color:rgb(0, 92, 121);
    --nav-color: rgb(235, 243, 238);
    --high:rgb(155, 5, 5);
    --medium:rgb(0,0,0);
    --low:rgb(0,0,0);
    --color-info-high:rgb(252, 230, 230);
    --color-info-medium:rgb(216, 216, 255);
    --color-info-low:rgb(247, 255, 223);


}
i.icon{
  font-size: 20px;
  color:var(--secondary-color);

}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

body{
    font-family: "Outfit", sans-serif;
    display: grid;
    grid-template-columns: minmax(200px,1fr) 4fr;
    min-height: 100vh;
 
}


nav{
    color:var(--secondary-color);
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 5px;
    
    
}


@media(max-width:768px){

    nav{
        display: none;
    }
    body{
        
        grid-template-columns: 1fr;
        
     
    }
   
}




main{
    background-color: var(--background);
}


/*menu*/

.profile{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap:16px
}



.logo{
    font-size: 1.3rem;
    margin-bottom: 16px;
}

.logo-master{
    color: rgb(179, 203, 214);
}

.item-menu{

    display: flex;
    padding: 8px;
    gap: 8px;
    border-radius: 10px;
    margin: 0;
    
}

.item-menu p:last-child{
    flex: 1;
    text-align: end;
    opacity: 0.6;
}

.item-menu.lupa {
    margin-top: 16px;
}




.item-menu:hover{
    background-color: rgba(87, 97, 91, 0.274);
    cursor: pointer;
}

.text-project{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-right: 5px;
   

}


.text-project >i{

   font-size: 20px;
   cursor: pointer;
   transition: scale 0.15s ease-in-out;
   
   
   
}




/*HEADER AND MAIN CONTENT*/


section{
    display: flex;
    flex-direction: column;
}


main{
    padding: 32px;
   background: radial-gradient(ellipse at center, #FFFFFF 0%, #FFFFFF 53%,var(--nav-color) , 100%);
}

main>header{
   display: flex;
   justify-content: space-between;
   margin-bottom:32px ;
   opacity: 0.6;
   
}




.bar-task{

    margin-top: 16px;
    list-style: none;
    background: #ffffff;
    height: 60px;
    border-bottom: 1px solid rgb(189, 188, 188);
    transition: transform 0.1s ease-in,
                border-color 0.1s ease-in;
    display: flex;
    justify-content: space-between;
    

}

.info-task{

  
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-template-rows: 1fr 1fr ;
    width: 100%;
    column-gap: 8px;
    
    
    

}

.info-task>span{
   align-self: flex-end;
    
}


.info-task input{
   
    grid-row: 1/3;
    width: 16px;
    accent-color: var(--secondary-color);
    opacity: 0.8;
    
}





.bar-task .icons-task{
    display: flex;
    visibility: hidden;
    gap: 16px;
    font-size:1.1rem;
    color:var(--secondary-color);
    padding-top: 10px;
    
}

.icons-task>i{
    cursor:pointer;
}

.bar-task:hover .icons-task{
    visibility: visible;
    opacity: 0.7;
    
}

.bar-task:hover .icons-task:hover{
   
    opacity: 1;
    
}


.bar-task:hover{

    
    list-style: none;
    transform: scale(1.01);
    border-color: var(--high);
    
   
    
}


details summary::-webkit-details-marker {
    display: none;
  }


  .content-details{
    display: grid;
    grid-template-columns: 200px 1fr ;
    font-size: 15px;
    padding: 16px;
    background-color: var(--color-info-high);
    align-items: center;
    row-gap: 16px;
   
   
  }

  .content-details i{
  
    color: rgb(206, 102, 102);
    margin-left: 4px;
  }

  details:open .bar-task {
    
    transform: scale(1.01);
    border-color: var(--high);
   
  }

  .content-details span:nth-child(odd){

    font-weight: bold;
    color: rgb(56, 56, 56);
  }


/*boton de añadir*/

.addTask{
  
    color: var(--secondary-color);
    margin-top: 16px;
    width: 100px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  
}

.addTask span{
    display: inline-block;
}

.addTask:hover{

    transform: scale(1.01);
    color: rgb(0, 121, 158);
    

}


  /*modal*/

  dialog::backdrop{
    backdrop-filter: blur(0.5px);
    background-color: rgba(0, 0, 0, 0.11);
  }

  dialog{

    color: var(--secondary-color);
    border: none;
    border-radius: 0.2em;
    width: 30rem;
    margin: 4em auto;
    padding: 0.5rem;
    overflow: hidden;
    background-color:var(--nav-color);
    opacity: 0.95;
    box-shadow: 0px 0px 16px  -8px var(--secondary-color);
    
}


form{
    display: grid;
    padding: 1rem 2rem;
    grid-template-columns: auto 1fr;
    gap: 15px;
    color: var(--secondary-color);
  
    
}

form button{

    font-family: inherit;
    font-size: 15px;
    padding: 0.5em;
    
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--nav-color);
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0px 0px 5px  -1px rgb(48, 48, 48);
    transition: transform 0.2s ease-in-out;
}
form button:hover{
    transform: scale(1.02);
}

form input{
    font-family: inherit;
    padding: 4px;
    border: none;
    border-radius: 4px;
    
    background-color: rgb(255, 255, 255);
}

form select{
    border: none;
    font-family: inherit;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    
}

form label>{
    background-color: rgb(134, 35, 35);
}

form input:focus, form select:focus,form select:active{
    outline: 1px solid rgb(0, 95, 95);
}

form label{

    font-weight: bold;
}

dialog h2{
    padding: 8px 16px;
}


form .cancel{

   background-color: #0b5a56;
}

form .priority option:first-child{
    background-color: var(--color-info-high);
   
}

form .priority option:nth-child(2){
    background-color: var(--color-info-medium);
   
}

form .priority option:nth-child(3){
    background-color: var(--color-info-low);
   
}


/*menu de nuevo proyecto*/
#add_project{
   
    position:relative;
}

.window-project{

 
    border: 1px solid var(--secondary-color);
    display: none;
    position: absolute;
    background-color: var(--nav-color);
    gap: 5px;
    top:0px;
    left:1.5rem ;
    padding: 8px;
    z-index: 1000;


}


.window-project.active{
    display: grid;
}

.window-project input{

    outline: 1px solid var(--secondary-color);
    border: none;
    height: 1.3rem;
    padding: 0.2rem;

}


.window-project button{
    
    border: none;
    border-radius: 8px;
    height: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--nav-color);
    box-shadow: 0px 0px 5px  -1px rgb(48, 48, 48);
    cursor: pointer;
    font-family: inherit;
}



.text-project >i:hover{

    scale: 1.1;
    
    z-index: 1000;
    
    
 }

 